
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>My Diary</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href = "{% static 'styleCSS.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <style>
        #h1 {
            font-size: 30px;
        }

        
        </style>
    
    </head>
    <body>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center"> 
                <div class ="form-submit">
                    <h1>Subscribe</h1>
                    <form id = "form" method = "POST" id="myForm">
                        {% csrf_token %}
                        <script src = "{% static 'subscribeJS.js' %}"></script>
                        <div class="form-group">
                            <label for="inputNama">Nama</label>
                            <input type="text" class="form-control" placeholder="Nama" id="inputName">
                            <small id="nameHelp" class="form-text text-muted">Harap masukkan nama anda!</small>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail1">Email</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="name@example.com">
                            <small id="emailHelp" class="form-text text-muted">Email yang didaftarkan invalid!</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="inputPass" placeholder="Password">
                            <small id="passHelp" class="form-text text-muted">Gunakan password lebih dari 8 karakter</small>
                        </div>
                        <button type="submit" class="btn btn-dark" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>