
<!DOCTYPE html>
<html>
    <head>
        <title>My Diary</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href = "{% static 'styleCSS.css' %}">
        <style>
        #h1 {
            font-size: 30px;
        }

        
        </style>
    
    </head>
    <body text="green">
        <div class = "container">
                <div class = "row">
                    <div class = "col-8 mx-auto">
                        <h1 class="text-center">Profil Saya</h1>
                        <div class="d-flex justify-content-center align-items-center">
                            <table>
                                <tr>
                                  <td>Nama</td>
                                  <td>: Dhita Putri Pratama</td>
                                </tr>
                                <tr>
                                  <td>TTL</td>
                                  <td>: Jakarta, 10 Agustus 2000</td>
                                </tr>
                                <tr>
                                    <td>Hobi</td>
                                  <td>: Tidur</td>
                                </tr>
                                <tr>
                                  <td>Pekerjaan</td>
                                  <td>: Mahasiswa</td>
                                </tr>
                                <tr>
                                    <td>Universitas</td>
                                    <td>: Universitas Indonesia</td>
                                </tr>
                            </table>   
                        </div>
                    </div>
                    
                    <div class = "col-3">
                        <button type="button" onclick="subscribe()" class="btn btn float-left" id="but1">Subscribe</button>
                    </div>
                </div>
                    
            </div>
            <script>
                function subscribe() {
                    location.href = "subscribe";
                }
            </script>
        </body>
    </html>