html, body {
    height: 100%;
    background-image: url("wal1.jpg");
}
body {
    color:white;
    display:flex;
    align-items:center;
}

@media screen and (max-width: 768px) {
    body { 
        padding-top: 70px;
    }
}
